<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="form-group">
      <form
        id=""
        action="/bikes/<%=bike._id%>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <label>Brand:</label>
        <input type="text" name="brand" value="<%= bike.brand %>" />
        <label>Model:</label>
        <input type="text" name="model" value="<%= bike.model %>" />
        <label>Year:</label>
        <input type="number" name="year" value="<%= bike.year %>" />
        <label>Engine Capacity(cc):</label>
        <input type="number" name="engine" value="<%= bike.engine %>" />
        <label>Engine Type:</label>
        <select name="engineType" value="<%= bike.engineType %>">
          <option value="Single">Single</option>
          <option value="Parallel Twin">Parallel Twin</option>
          <option value="V-Twin">V-Twin</option>
          <option value="Inline-4">Inline-4</option>
        </select>
        <label>Power(HP):</label>
        <input type="number" name="power" value="<%= bike.power %>" />
        <label>Price:</label>
        <input type="number" name="price" value="<%= bike.price %>" />
        <input
          type="file"
          name="bikeImage"
          accept="image/png, image/jpeg, image/jpg"
        />
        <input type="submit" value="Update Bike" />
      </form>
    </div>
  </body>
</html>
